{% extends "base.html" %}

{% block content %}
<style>
    .thumbnail{
     width:300px;
     height:300px;
    }

    .thumbnail img{
        width:300px;
        height:290px;
    }
</style>

<h1 class="sidelines text-center"><span>{{profile.user.last_name}}{{profile.user.first_name}}'s profile</span></h1>
<!-- User 인스턴스 -->

<div class="row" style="margin-top:100px; margin-left:80px; margin-right:80px" >
    <div id="left" class="col-sm-4">
        <div class="thumbnail"><img id="myImg" src="{{profile.user_photo.url}}" alt="{{profile.user.last_name}}{{profile.user.first_name}}님"/></div>
            <a class="txtmod" title="메일보내기 역시 준비중입니다." href="javascript:void(0);"><span style="font-size:15px;"><img src="{% static 'pics/mail.png' %}" style="width:10%;"/> {{profile.user.email}}</span></a>
            <div style="float:right;padding-right:20px;"><a class="btn btn-default" href = "{% url "accounts:account_edit" %}" >계정수정</a></div>
            </br><p class="sidelines text-center" style="font-weight:bold;align:center;"><span>한줄소개</span></p>
            <span>{{profile.category}}</span>
    </div>      <!--<a href = "{% url "accounts:account_edit" %}" > 계정수정 </a>-->
    <div id="right" class="col-sm-8">

        <div class="row">
            <div style="align:center">
            <table class="table table-list table-hover">
            <thead>
                <tr>
                    <th class="col-xs-2 text-center board-author">멘토</th>
                    <th class="col-xs-6 board-title">질문목록</th>
                    <th class="col-xs-1 text-center board-no">질문한시간</th>
                    <th class="col-xs-1 text-center board-no">질문고친시간</th>
                </tr>
            </thead>
            <tbody>
                {% for question in profile.question_mentee.all %}
                <tr>
                    <td class="col-xs-2 text-center board-author"><a href="{% url "blog:mentor_detail" question.mentor.pk %}">{{question.mentor.user.last_name}}{{question.mentor.user.first_name}}</a></td>
                    <td class="col-xs-6 board-title"><a href="{% url "blog:question_detail" question.pk %}">{{question.title}}</a></td>
                    <td class="col-xs-1 text-center board-no">{{question.created_at}}</td>
                    <td class="col-xs-1 text-center board-no">{{question.updated_at}}</td>
                </tr>

                {% empty %}
                <li>등록된 질문이 없습니다.</li>
                {% endfor %}
            </tbody>
            </table>
            </div>
        </div>


</div>



{% endblock %}