{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>
	.thumbnail{
     width:300px;
     height:300px;
 	}

	.thumbnail img{
	    width:300px;
	    height:290px;
	}
</style>

<h1 class="sidelines text-center"><span>{{user.last_name}}{{user.first_name}}'s profile</span></h1>
<!-- User 인스턴스 -->

<div class="row" style="margin-top:100px; margin-left:80px; margin-right:80px" >
	<div id="left" class="col-sm-4">
		<div class="thumbnail"><img src="{{profile.user_photo.url}}"/></div>
            <p>{{profile.user.email}}</p>
            <p>{{profile.category}}</p>
            </br>
            </br>
            <div class="row"><a href = "{% url "accounts:account_edit" %}" > 계정수정 </a></div>
	</div> 		<!--<a href = "{% url "accounts:account_edit" %}" > 계정수정 </a>-->
	<div id="right" class="col-sm-8">
		<div class="row">
        <table class="table table-condensed">
            <thead>
                <strong style="font-size:18px;">{{profile.user.username}}님의 칼럼이 <a style="font-size:30px;">{{column_count}}</a>개 등록되어 있습니다.</strong>
            </thead>
            <tbody>
                {% for column in column_list%}
                <tr>
                    <td>{{column.pk}}</td>
                    <td><a href = "{% url "blog:column_detail" column.pk %}"> {{column.title}}</a></td>
                </tr>

                {% empty %}
                <tr>
                    <td>등록된 칼럼이 없습니다.</td>
                </tr>
                {% endfor %}
            </tbody>
    	</table>
    	</div>
    	</br>
    	</br>
    	<div class="row">
    		<div style="align:center">
			<table class="table table-list table-hover">
		    <thead>
		        <tr>
		            <th class="col-xs-1 text-center board-no">번호</th>
		            <th class="col-xs-2 text-center board-author">멘티</th>
		            <th class="col-xs-6 board-title">질문목록</th>
		        </tr>
		    </thead>
		    <tbody>
			    {% for question in profile.question_mentor.all %}
			    <tr>
			    	<td class="col-xs-1 text-center board-no">{{question.id}}</td>
			    	<td class="col-xs-2 text-center board-author">{{question.mentee.user.username}}</td>
			    	<td class="col-xs-6 board-title"><a href="{% url "blog:question_detail" question.pk % }">{{question.title}}</a></td>
			    </tr>
			    <a href="{% url "blog:question_detail" question.pk % }">{{question.title}}</a>
			    {% empty %}
			    <li>등록된 질문이 없습니다.</li>
		        {% endfor %}
		    </tbody>
			</table>
			</div>
    	</div>


</div>



</div>

{% endblock %}



