{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>
                <a href="{% url "blog:notice" %}" class="btn btn-default">글목록</a>
            </p>

            <div class="panel panel-info">
                <div class="panel-heading">
                    {{ notice.title }}
                </div>
                <div class="panel-body">
                    {{ notice.content|linebreaks }}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}