{%extends "board_base.html"%}

{% block board %}
<div class = "container">
    <div class = "row">
        <div class = "col-sm-12">
            <form action="" method="POST">

                {% csrf_token %}

                <div class = "alert alert-danger">

                    <h4>{{freeboard.title}}</h4>
                    정말 삭제하시겠습니까?
                </div>
                <a href = "{% url 'blog:freeboard_detail' freeboard.id %}" class = "btn btn-default">돌아가기</a>
                <input type="submit" class="btn btn-success" value=  "삭제함 ㅇㅇ!!"/>
            </form>
        </div>
    </div>
</div>

{% endblock %}

