{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>
                <a href="{% url "blog:freeboard" %}" class="btn btn-default">글목록</a>
            </p>

            <div class="panel panel-info">
                <div class="panel-heading">
                    {{ freeboard.title }}
                    <br></br>
                    작성자 {{ freeboard.author.user.username}}
                </div>
                <div class="panel-body">
                    {{ freeboard.content|linebreaks }}
                </div>

            </div>
            <a href="{% url 'blog:freeboard_edit' freeboard.id %}" class="btn btn-primary btn-block%}">
                게시물 수정
        </a>
        </div>
    </div>
</div>
{% endblock %}