{% extends "base.html" %}
{% block content %}
<div class="container">
    <p>
        <a href="{% url 'blog:freeboard_new' %}" class="btn btn-default">새글쓰기</a>
    </p>
    <div class="jumbotron">

        <h1>자유게시판</h1>
    </div>
</div>

<div class="container">
  <div class="jumbotron">
  <ul>
  {% for freeboard in freeboard%}
  <li>
      {{freeboard.id}}
      {{freeboard.auth}}
      <a href ="/freeboard/{{freeboard.id}}/">
      {{freeboard.title}}
      </a>
  </li>
  {% endfor %}
  </ul>
  </div>
</div>
{%endblock%}

