{% extends "board_base.html" %}
{% load tch_tch %}
{% block board %}
<h2 class="sidelines text-center"><span>자유게시판</span></h2>

<table class="table table-list table-hover">
    <thead>
        <tr>
            <th class="col-xs-1 board-no">번호</th>
            <th class="col-xs-6 board-title">제목</th>
            <th class="col-xs-1 text-center writer">작성자</th>
            <th class="col-xs-2 text-center board-date">등록시간</th>
        </tr>
    </thead>
    <tbody>
        {% for freeboard in freeboard%}
        <tr>
            <td class="col-xs-1 text-center board-no">{{freeboard.id}}</td>
            <td class="col-xs-6 board-title"><a style="font-weight: 700;" href="{{freeboard.id}}/">{{freeboard.title}}</a></td>
            <td class="col-xs-1 text-center writer">{{freeboard.author.user.last_name}}{{freeboard.author.user.first_name}}</td>
            <td class="col-xs-2 text-center board-date">{{freeboard.created_at}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination_wrapper text-center">
    <ul class="pagination">
        <li class="prev">
        {% if freeboard.has_previous %}
            <a href="?page={{ freeboard.previous_page_number}}" class="btn btn-primary">previous</a>
        {%else%}
            <a href="#" class="btn">previous</a>
        {% endif %}
        </li>
        {% for i in 5|get_range%} <!--custom for문, tch-tch 에 만들었습니다.-->
            {%if i == freeboard.number %}
                <li class="active"><a href="?page={{i}}">{{i}}</a></li>
            {%elif i in freeboard.paginator.page_range%}
                <li><a href="?page={{i}}">{{i}}</a></li>
            {%else%}
                <!--<li class="disabled"><a href="#">{{i}}</a></li>-->
            {%endif%}
        {% endfor %}
        <li class="prev">
        {% if freeboard.has_next %}
            <a href="?page={{ freeboard.next_page_number}}" class="btn btn-primary">next</a>
        {%else%}
            <a href="#" class="btn">next</a>
        {% endif %}
        </li>
        <u1 class="container">
            Page {{ freeboard.number }} of {{ freeboard.paginator.num_pages }}.
        </u1>
    </ul>
</div>
{% include 'blog/search_form_freeboard.html' %}
<div style="float:right;margin-top:20px;">
  <a href="{% url 'blog:freeboard_new' %}" class="btn btn-default">글쓰기</a>
</div>
{% endblock %}
