{% extends "board_base.html" %}

{% block board %}

<div class="ufo-board-post panel panel-default">
    <div class="panel-body">
        <h1 class="ufo-board-post-title">{{freeboard.title}}</h1>
        <ul class="ufo-board-post-meta unstyled list-inline">
            <li class="ufo-board-post-meta__author">{{freeboard.author}}</li>
            <li>|</li>
            <li class="ufo-board-post-meta__date">{{freeboard.created_at}}</li>
            <li>|</li>
            <li>view_count 칸!!!</li>
            <li>|</li>
            <div class="fb-like" data-action="like" data-show-faces="true" data-share="true" data-layout="button_count" data-href="http://itdaa.net/free_boards/796"></div></ul>
            <div class="ufo-board-post-body">
                <p>{{freeboard.content|linebreaks}}</p>
            </div>
            <div class="uto-board-post-actions"><a class="btn btn-default btn-small"  href="../">목록</a></div>
            <div class="ufo-board-comment-box">
                <h4>댓글</h4>


                <form action="{% url "blog:comment_new" freeboard.pk %}" class="new_comment" id="new_comment" method="post">
                    <div class="row">
                        </div>
                        {% csrf_token %}
                        {{ comment_form }}
                        <input type="submit" value="댓글쓰기" class="btn btn-block btn-primary" />
                    </div>
                </form>
<!--
            <a href="{% url 'blog:freeboard_edit' freeboard.id %}" class="btn btn-primary btn-block%}">
                게시물 수정
            </a>
            <a href="{% url "blog:freeboard_delete" freeboard.id %}" class="btn btn-danger">
                Delete
            </a>
-->

                <div class="ufo-board-comments">
                    {% for comment in freeboard.comment_set.all %}
                    <div class="comment ufo-board-comment">
                        <div class="row">
                            <div class="col-sm-2">{{comment.author}}</div>
                            <div class="col-sm-6"><p>{{comment.message}}</p></div>
                            <div class="col-sm-3 text-right">{{comment.created_at}}</div>
                            <div class="col-sm-1"><a href="{% url "blog:comment_edit" freeboard.pk comment.pk%}">수정</a></div>
                            <div class="col-sm-1"><a href="{% url "blog:comment_delete" freeboard.pk comment.pk%}" class="text text-danger" title="삭제">삭제</a></div>                            
                        </div>
                    </div>
                    {% empty %}
                        <p class="alert alert-info">등록된 댓글이 없습니다.</p>
                    {% endfor %}
                </div>
        </div>
    </div>
</div>

{% endblock %}