
{% extends "base.html" %}

{% block content %}
<h1 class= "sidelines text-center"><span>老하우 가이드</span></h1>

<div style="text-align:center">
	<h1><font face="">"나만의 스토리 히힛"</font></h1>
	</br>
	<h3>노하우는 모든 사람들이 경험을 공유하며 나만의 스토리를 만드는 세상을 꿈꾸고 있습니다</h3>
	</br>
	</br>
	<div style="border: 3px solid #D5C8C8; background-color: #D5C8C8; height: auto; max-width: 400px; margin: auto; border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; border-top-left-radius: 50px; border-top-right-radius: 50px">
		<h3>관계, 감동 그리고 시작ㅇ3ㅇ</h3>
		<h5>공간을 초월하여 형성하는 관계

	</div>


</div>

{%endblock%}