
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h1 class= "sidelines text-center"><span>老하우 가이드</span></h1>

<div style="text-align:center">
	<h1><img src="{% static "blog/l.png" %}" width="50" height="90">나만의 스토리를 위한 老하우<img src="{% static "blog/r.png" %}" width="42" height="90"></h1>
	</br>
	<h3>노하우는 모든 사람들이 경험을 공유하며 나만의 스토리를 만드는 세상을 꿈꾸고 있습니다</h3>
	</br>
	</br>
	<div style="border: 3px solid #D5C8C8; background-color: #D5C8C8; height: auto; max-width: 400px; margin: auto; border-bottom-left-radius: 50px; border-bottom-right-radius: 50px; border-top-left-radius: 50px; border-top-right-radius: 50px">
		<h3>관계, 감동 그리고 시작ㅇ3ㅇ</h3>
		</br>
		<h4>공간을 초월하여 형성하는 관계</h4>
		<h4>진심이 담겨있는 답변이 주는 감동</h4>
		<h4>자신을 발견하고 새롭게 도전하는 시작</h4>
	</div>
	</br>
	</br>
	<h4>무수히 많은 점들이 모여 선이 되는 것처럼 꿈을 이루기 위해서는 수 많은 도전과 경험이 필요합니다</h4>
	<h4>老하우에서는 당신의 꿈을 이어줄 다양한 사회선배가 함께합니다</h4>
	<h4>사회선배들이 공유하는 경험과 지혜를 받아 당신의 도전을 이어가세용</h4>


</div>

{%endblock%}