{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content%}
<script src="{% static 'js/jquery.mobile.custom.min.js'%}"></script>
<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css'%}">

<!-- Default Theme -->
<link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css'%}">

<!-- Include js plugin -->
<script src="{% static 'owl-carousel/owl.carousel.js'%}"></script>
<script>
$(document).ready(function() {

  $("#owl-demo").owlCarousel({

      navigation : false, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      autoPlay : 3800,
      stopOnHover : true,
      singleItem:true,
      pagination : false,

      // "singleItem:true" is a shortcut for:
      // items : 1,
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false

  });





});
</script>
<style>
@font-face {
    font-family: customfont;
    src: url('{% static 'fonts/ENCOBK.TTF' %}');
}
#numbers
{
    font-family: customfont;
    color:#b24c57;
    font-size: 40px;
}
.count{
    text-align:center;
}

</style>
<div id="owl-demo" class="owl-carousel owl-theme">

  <div class="item"><img src="{% static 'pics/1.jpg' %}" alt="회의중"/></div>
  <div class="item"><img src="{% static 'pics/3.jpg' %}" alt="멋쟁이 신필득구씨"/></div>
  <div class="item"><img src="{% static 'pics/2.jpg' %}" alt="멋쟁이 우재씨"/></div>

</div>
<!-- searching form -->
{% include 'blog/search_form_mentor.html' %}
<div class="container">
<div class="row" style="margin-top:40px;">
    <div class="count">
        <div class="col-sm-4">
        <p class="sidelines text-center" style="color:#b24c57; font-size: 20px; font-weight: bold;"><span>Some Numbers</span></p>
            <p><a id="numbers" href = "{% url "blog:mentor_list" %}">{{mentor_count}}</a> 명의 멘토가 등록되어 있습니다.</p>
            <p><a id="numbers">{{question_count}}</a> 개의 멘티 질문이 등록되었습니다.</p>
            <p><a id="numbers">{{reply_count}}</a> 개의 멘토 답변이 등록되었습니다.</p>
        </div>

        <div class="col-sm-4">
            <p class="sidelines text-center" style="color:#b24c57; font-size: 20px; font-weight: bold;"><span>실험실</span></p>

            <p>사이트 조회수 : {{hits}}</p>
            <p>설문조사 : {{poll.poll_content}}</p>
            {%if error_message%} {{error_message}} {%endif%}
            <form action="{% url 'blog:vote' poll.id %}" method="post">
            {% csrf_token %}
            {%for choice in poll_choices%}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }} ({{choice.votes}}) </label><br />
            {%empty%}
            <p>문항이 하나도 없네</p>
            {%endfor%}
            <input class="btn btn-default" type="submit" value="투 표" />
            </form>
        </div>
        <div class="col-sm-4"> 
            <p class="sidelines text-center" style="color:#b24c57; font-size: 20px; font-weight: bold;"><span>FILE UPLOADS / DOWNLOADS</span></p>
            <p> 유니코드 작업중 ... 아직 한글 파일 올리면 안됨. </p>
            <ul>
                {% for file in file_list %}
                    <li><a href="{% url "blog:download" file.id %}">{{ file.file_name.name }}</a></li>
                {% empty %}
                    <p>NO FILE.</p>
                {% endfor %}
            </ul>
            <!-- Upload form. Note enctype attribute! -->
            <form action="{% url "blog:index" %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input class="" id="id_file_name" name="file_name" title="" type="file" />
              <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-upload"></span>올리기
              </button>
            </form>

        </div>

    </div>
</div>
<div class="row" style="margin-top:40px;">
    <p class="sidelines text-center" align="center" style="color:#b24c57; font-size: 20px; font-weight: bold;"><span>추천멘토</span></p>
    <!-- searching form -->
    {% include 'blog/mentor_list_thumbnails.html'%}

</div>

<div class="row" style="margin-top:40px;">
  <div class="col-md-4">
    <p class="sidelines text-center" align="center" style="color:#b24c57; font-size: 20px; font-weight: bold;"><span>노하우 이용 방법?</span></p>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/doLn9opKDX0"></iframe>
    </div>
  </div>
  <div class="col-md-4">
    <p class="sidelines text-center" align="center" style="color:#b24c57; font-size: 20px; font-weight: bold;"><span>공지사항</span></p>
    <ul class="notice">
    {% for notice in notice_list %}
        <li>
          <a style="font-weight: 700;" href="{% url 'blog:notice_detail' notice.id %}">{{notice.title}}</a>
        </li>
    {%empty%}
        <p style="text-align:center;font-weight:bold;">공지사항이 없습니다.</p>
    {% endfor %}

    </ul>
  </div>
  <div class="col-md-4">
    <p class="sidelines text-center" align="center" style="color:#b24c57; font-size: 20px; font-weight: bold;"><span>자유게시판</span></p>
    <ul class="freeboard">
    {% for freeboard in freeboard_list %}
        <li>
          <a style="font-weight: 700;" href="{% url 'blog:freeboard_detail' freeboard.id %}">{{freeboard.title}}</a>
        </li>
    {%empty%}
        <p style="text-align:center;font-weight:bold;">작성된 글이 없습니다.</p>
    {% endfor %}

    </ul>
  </div>

</div>
</div>
<!--
<div class="row" style="margin-top:40px;">
    <p class="sidelines text-center" align="center" style="color:red; font-size: 20px; font-weight: bold;"><span>잡설</span></p>
    <div class="col-sm-2" >
        <a href="//jr.naver.com" target="_blank">
        <div class = "thumbnail" style="border:0px;">
            <img src="{% static 'pics/slide.png' %}">
            <p align="center" style="font-weight:bold;">재밌는 놀이터</p>
        </div>
        </a>
    </div>
    <div class="col-sm-2" >
        <a href="javascript:alert('색깔 진짜 못 고르겠어요... 더 망가지기 전에 좀 도와줘요...')">
        <div class = "thumbnail" style="border:0px;">
            <img src="{% static 'pics/ducky.png' %}">
            <p align="center" style="font-weight:bold;">오리의 변</p>
        </div>
        </a>
    </div>
    <div class="col-sm-2" >
        <a href="javascript:alert('메인 사진 크기는 일단 960 * 300 입니다.')">
        <div class = "thumbnail" style="border:0px;">
            <img src="{% static 'pics/moomin.png' %}">
            <p align="center" style="font-weight:bold;">유용한 생활정보</p>
        </div>
        </a>
    </div>
    <div class="col-sm-2" >
        <a href="//www.youtube.com/watch?v=MtN1YnoL46Q" target="_blank">
        <div class = "thumbnail" style="border:0px;">
            <img src="{% static 'pics/music.png' %}">
            <p align="center" style="font-weight:bold;">Editor's Pick</p>
        </div>
        </a>
    </div>
    <div class="col-sm-2" >
        <a href="javascript:var audio2 = new Audio('{% static 'pics/Dramatic-chipmunk.mp3' %}');audio2.play();">
        <div class = "thumbnail" style="border:0px;">
            <img id="myImg" src="{% static 'pics/ducky.png' %}">
            <p align="center" style="font-weight:bold;">오리의 변 2</p>
        </div>
        </a>
    </div>
</div>
-->


{% endblock %}
