{% extends "base.html" %}
{% load staticfiles %}
{% block content%}
<script src="{% static 'js/jquery.mobile.custom.min.js'%}"></script>
<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css'%}">

<!-- Default Theme -->
<link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css'%}">
<style>
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
</style>
<!-- Include js plugin -->
<script src="{% static 'owl-carousel/owl.carousel.js'%}"></script>
<script>
$(document).ready(function() {

  $("#owl-demo").owlCarousel({

      navigation : false, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      autoPlay : 5000,
      stopOnHover : true,
      singleItem:true,
      pagination : true,

      // "singleItem:true" is a shortcut for:
      // items : 1,
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false

  });

});
</script>

<div id="owl-demo" class="owl-carousel owl-theme">

  <div class="item"><img src="{% static 'pics/1.jpg' %}" alt="IMAGE 1"></div>
  <div class="item"><img src="{% static 'pics/3.jpg' %}" alt="IMAGE 2"></div>
  <div class="item"><img src="{% static 'pics/2.jpg' %}" alt="IMAGE 3"></div>

</div>

{% include 'blog/search_form_mentor.html' %}

<style>
.count{
    text-align:center;
}
</style>

<div class="row">
    <div class="count">
        <div class="col-sm-4">
            <p><a style="color:red; font-size: 40px;" href = "{% url "blog:mentor_list" %}">{{mentor_count}}</a>명의 멘토가 등록되어 있습니다.</p>
        </div>

        <div class="col-sm-4">
            <p><a style="color:red; font-size: 40px;">{{question_count}}</a>개의 멘티 질문이 등록되었습니다.</p>
        </div>

        <div class="col-sm-4">
            <p><a style="color:red; font-size: 40px;">{{reply_count}}</a>개의 멘토 답변이 등록되었습니다.</p>
        </div>
    </div>
</div>


<style>
.thumbnail img{
    width:200px;
    height:200px;
}
</style>

<div class="row">
    <p class="sidelines text-center" align="center" style="color:red; font-size: 20px; font-weight: bold;"><span>추천멘토</span></p>
    {% for mentor in mentor_list %}
    <div class="col-sm-4" >
        <a href="{% url "blog:mentor_detail" mentor.id %}">
        <div class = "thumbnail" style="border:0px;">
            <img src="{{mentor.user_photo.url}}">
            <p align="center" style="font-weight:bold;">{{mentor.user.last_name}}{{mentor.user.first_name}}님</p>
        </div>
        </a>
    </div>
    {% endfor %}
</div>



{% endblock %}
