{% extends "base.html" %}
{% load tch_tch %}
{% load staticfiles %}
{% block content %}

<div class = "dark-bg img-bg-softer" style='background-image: url("#");'>
    <div class="container inner-xs inner-top-sm">
        <div class="row">
            <div class="col-sm-12 center-block text-center">
                <header>
                    <h2><span>멘토목록</span></h2>
                </header>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:40px;">
<!-- searching form -->
    {% include 'blog/mentor_list_thumbnails.html' with keyword=keyword%}
</div>
</ul>

<div class="pagination_wrapper text-center">
    <ul class="pagination">
 <!--div class="pagination">
                        <span class="step-links">
                            {% if mentor_list.has_previous %}
                                <a href="?page={{ mentor_list.previous_page_number}}">previous</a>
                            {% endif %}
                            <span class="current" >
                                Page {{ mentor_list.number }} of {{ mentor_list.paginator.num_pages }}.
                            </span>

                        </span>
                    </div-->
        <li class="prev">
        {% if mentor_list.has_previous %}
            <a href="?page={{ mentor_list.previous_page_number}}" class="btn btn-default">previous</a>
        {%else%}
            <a href="#" class="btn">previous</a>
        {% endif %}
        </li>
        {% for i in mentor_list.paginator.page_range%}
            {%if i == mentor_list.number %}
                <li class="active"><a href="?page={{i}}">{{i}}</a></li>
            {%else%}
                <li><a href="?page={{i}}">{{i}}</a></li>
            {%endif%}
        {% endfor %}
        <li class="prev">
        {% if mentor_list.has_next %}
            <a href="?page={{ mentor_list.next_page_number}}" class="btn btn-default">next</a>
        {%else%}
            <a href="#" class="btn">next</a>
        {% endif %}
        </li>
        <u1 class="container">
            Page {{ mentor_list.number }} of {{ mentor_list.paginator.num_pages }}.
        </u1>
    </ul>
    {% include 'blog/search_form_mentor.html' %}
</div>
{%endblock%}
