{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>
.thumbnail{
     width:300px;
     height:300px;
}

.thumbnail img{
    width:300px;
    height:290px;
}
</style>

 <div class="row" style="margin-top:100px; margin-left:140px;" >
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="{{ mentor.user_photo.url }}">
        </div>
    </div>
    <div class="col-sm-6">
                    <h3>{{mentor.user.username}}</h3>
                        <p>{{mentor.user.email}}</p>
                        <p>{{mentor.category}}</p>
                        <p>{{mentor.self_intro}}</p>
    </div>
</div>

<div class="row" style="margin-left:220px;">
    <a href="{% url 'blog:mentor_list' %}" class="btn btn-info">멘토목록</a>
    <a href="{% url 'blog:question_new' mentor.pk %}" class="btn btn-success">질문하기</a>
</div>

<div class="row" style="margin-top: 20px; margin-left:140px;">
    <div class="col-sm-6">
        <form action="{% url "blog:review_new" mentor.pk %}" method="post">

                {% csrf_token %}

                {{ review_form }}
        </form>
    </div>
    <div class="col-sm-4">
        <input type="submit" value="리뷰쓰기" class="btn btn-primary" />
    </div>
</div>

        <!--<a href="{% url 'blog:review_new' mentor.id %}" class="btn btn-primary btn-block%}">
                새 리뷰 쓰기
        </a>-->
<div class="row" style="margin-top: 20px; margin-left:125px;">
    <ul>
        {% for review in mentor.review_mentor.all %}
                    <li>
                        {{ review.mentee.user.username}}
                        {{ review.message }}
                <a href="{% url "blog:review_edit"  mentor.pk review.pk %}">수정</a>
                <a href="{% url "blog:review_delete"  mentor.pk review.pk %}">삭제</a>
                    </li>
                {% empty %}
                    <li>등록된 리뷰 없습니다.</li>
                {% endfor %}
    </ul>
</div>


{% endblock %}
