{% extends "base.html" %}
{% load tch_tch %}
{% load staticfiles %}
{% block content %}
<style>
.thumbnail{
     width:200px;
     height:200px;
}

.thumbnail img{
    width:200px;
    height:190px;
}
</style>

{% for mentor in mentor_list %}
<div class="" style="margin-top:100px; margin-left:140px;" >
    <div class="col-sm-6 col-md-4">
        <a href ="/mentors/{{mentor.id}}/" class="thumbnail">
            <img src="{{ mentor.user_photo.url }}">
        </a>
            <div class="caption">
                 <a href ="/mentors/{{mentor.id}}/">
                    <h3>{{mentor.user.username}}</h3></a>
                        <p>{{mentor.category}}</p>
                        <p>{{mentor.self_intro}}</p>
            </div>

    </div>
</div>
{% endfor %}
</ul>

<div class="pagination_wrapper text-center">
    <ul class="pagination">
 <!--div class="pagination">
                        <span class="step-links">
                            {% if mentor_list.has_previous %}
                                <a href="?page={{ mentor_list.previous_page_number}}">previous</a>
                            {% endif %}
                            <span class="current" >
                                Page {{ mentor_list.number }} of {{ mentor_list.paginator.num_pages }}.
                            </span>

                        </span>
                    </div-->
        <li class="prev">
        {% if mentor_list.has_previous %}
            <a href="?page={{ mentor_list.previous_page_number}}" class="btn btn-primary">previous</a>
        {%else%}
            <a href="#" class="btn">previous</a>
        {% endif %}
        </li>
        {% for i in 5|get_range%} <!--custom for문, tch-tch 에 만들었습니다.-->
            {%if i == mentor_list.number %}
                <li class="active"><a href="?page={{i}}">{{i}}</a></li>
            {%elif i in mentor_list.paginator.page_range%}
                <li><a href="?page={{i}}">{{i}}</a></li>
            {%else%}
                <!--<li class="disabled"><a href="#">{{i}}</a></li>-->
            {%endif%}
        {% endfor %}
        <li class="prev">
        {% if mentor_list.has_next %}
            <a href="?page={{ mentor_list.next_page_number}}" class="btn btn-primary">next</a>
        {%else%}
            <a href="#" class="btn">next</a>
        {% endif %}
        </li>
        <u1 class="container">
            Page {{ mentor_list.number }} of {{ mentor_list.paginator.num_pages }}.
        </u1>
    </ul>
    {% include 'blog/search_form_mentor.html' %}
</div>
{%endblock%}
