{% extends "base.html" %}
{% block content %}

<div class="container" >
    <div class="jumbotron">
        <h1>mentor_list</h1>
    </div>
</div>

<ul>
{% for mentor in mentor_list%}
<li>
    {{mentor.id}}
    <a href ="/mentors/{{mentor.id}}/">
    {{mentor.user.username}}
    {{user_photo.url}}
    </a>
</li>
{% endfor %}
</ul>

 <div class="pagination">
                        <span class="step-links">
                            {% if mentor_list.has_previous %}
                                <a href="?page={{ mentor_list.previous_page_number}}">previous</a>
                            {% endif %}
                            <span class="current">
                                Page {{ mentor_list.number }} of {{ mentor_list.paginator.num_pages }}.
                            </span>
                            {% if mentor_list.has_next %}
                                <a href="?page={{ mentor_list.next_page_number}}">next</a>
                            {% endif %}
                        </span>
                    </div>
{%endblock%}
