{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>
.thumbnail{
     width:300px;
     height:300px;
}

.thumbnail img{
    width:300px;
    height:290px;
}
</style>
<div class="row" style="margin-top:20px;margin-bottom:-50px;margin-left:80px; margin-right:80px" >
    <a href="{% url 'blog:mentor_list' %}" class="btn btn-default" style="float:left;">멘토목록</a>
</div>
<div class="row" style="margin-top:100px; margin-left:80px; margin-right:80px" >
    <div id="left" class="col-sm-4">
        <div class="thumbnail"><img id="myImg" src="{{mentor.user_photo.url}}" alt="{{mentor.user.last_name}}{{mentor.user.first_name}}님"/></div>
            <a class="txtmod" title="메일보내기 역시 준비중입니다." href="javascript:void(0);"><span style="font-size:15px;"><img src="{% static 'pics/mail.png' %}" style="width:10%;"/> {{mentor.user.email}}</span></a>

            </br><p class="sidelines text-center" style="font-weight:bold;align:center;"><span>멘토링 분야</span></p>
            <span>{{mentor.category}}</span>
            </br><p class="sidelines text-center" style="font-weight:bold;align:center;"><span>한줄소개</span></p>
            <span>{{mentor.self_intro}}</span>

    </div>
    <div class="col-sm-3">
        <h2>{{mentor.user.last_name}}{{mentor.user.first_name}}</h2>
    </div>
    <div class="col-sm-8" style="padding-top:10px">
            <table class="table table-condensed">
                <thead>
                    <strong style="font-size:18px;">{{mentor.user.last_name}}{{mentor.user.first_name}}님의 칼럼이 <a style="font-size:30px;">{{column_count}}</a>개 등록되어 있습니다.</strong>
                </thead>
                <tbody>
                    {% for column in column_list%}
                    <tr>
                        <td>{{column.pk}}</td>
                        <td><a href = "{% url "blog:column_detail" column.pk %}"> {{column.title}}</a></td>
                    </tr>

                    {% empty %}
                    <tr>
                        <td>등록된 칼럼이 없습니다.</td>
                    </tr>
                    {% endfor %}
                </tbody>
          </table>
          <table class="table table-condensed">
              <thead>
                    <strong style="font-size:18px;">{{mentor.user.last_name}}{{mentor.user.first_name}}님의 질문이 <a style="font-size:30px;">{{question_count}}</a>개 등록되어 있습니다.</strong>
                    <div class="row" style="float:right;padding-right:20px;">
                    <a href="{% url 'blog:question_new' mentor.pk %}" class="btn btn-default">질문하기</a></div>
                </thead>
          </table>

    </div>

</div>



<div class="row" style="margin-top: 20px; margin-left:80px; margin-right:80px">
    <div class="col-sm-10">
        <form action="{% url "blog:review_new" mentor.pk %}" method="post">

                {% csrf_token %}

                {{ review_form }}

    </div>
    <div class="col-sm-2">
        <input type="submit" value="리뷰쓰기" class="btn btn-default" />
        </form>
    </div>
</div>

        <!--<a href="{% url 'blog:review_new' mentor.id %}" class="btn btn-primary btn-block%}">
                새 리뷰 쓰기
        </a>-->
<div class="row" style="margin-top: 20px; margin-left:80px; margin-right:80px;">
    <table class="table table-condensed">
        <thead style="margin-left:20px;">
            <strong style="font-size:18px;">{{mentor.user.last_name}}{{mentor.user.first_name}}님에 대한 리뷰가 <a style="font-size:30px;">{{review_count}}</a>개 등록되어 있습니다.</strong>
        </thead>
        <tbody>
            {% for review in mentor.review_mentor.all %}
            <tr>
                <td>
                    <blockquote>
                        <p style="font-size:15px;">{{review.message}}</p>
                        <footer>{{review.mentee.user.last_name}}{{review.mentee.user.first_name}}</footer>
                    </blockquote>
                        <p style="margin-left:10px"><a href="{% url "blog:review_edit"  mentor.pk review.pk %}">수정</a>
                        <a href="{% url "blog:review_delete"  mentor.pk review.pk %}">삭제</a></p>
                </td>
            </tr>

            {% empty %}
            <tr>
                <td>등록된 리뷰 없습니다.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>





{% endblock %}
