{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>공지사항</h1>
    </div>
</div>

<div class="container">
	<div class="jumbotron">
		<ul>
		{% for notice in notice%}
		<li>
		    {{notice.id}}
		    <a href ="/notice/{{notice.id}}/">
		    {{notice.title}}
		    </a>
		</li>
		{% endfor %}
		</ul>
	</div>
</div>
                    <div class="pagination">
                        <span class="step-links">
                            {% if notice.has_previous %}
                                <a href="?page={{ notice.previous_page_number}}">previous</a>
                            {% endif %}
                            <span class="current">
                                Page {{ notice.number }} of {{ notice.paginator.num_pages }}.
                            </span>
                            {% if freeboard.has_next %}
                                <a href="?page={{ notice.next_page_number}}">next</a>
                            {% endif %}
                        </span>
                    </div>
{%endblock%}



