<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=devicewidth,
initial-scale=1.0,minimum-scale=1.0,maximumscale=
1.0,user-scalable=no" />
<title>JooEunAhn Blog</title>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.7/css/bootstrap-material-design.min.css"/>-->
<style>
body {
    padding-top: 60px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.alert-debug {
background-color: #eeeeee;
border-color: #eeeeee;
color: #333;
}

</style>


</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">index</a>
            <a class="navbar-brand" href="/bio">bio</a>
            <a class="navbar-brand" href="/senior">senior</a>
            <a class="navbar-brand" href="/enterprise">enterprise</a>
            <a class="navbar-brand" href="/youth">youth</a>
        </div>
    </div>
</div>
<div id ="content">


  {%if messages %}
    {%for message in messages%}
    <div class = "alert alert-{{message.tags}}"> <!-- 공백으로 클래스 구분 -->
      {{ message }}
    </div>
    {% endfor %}
  {%endif%}


  {% block content %} {% endblock %}

</div>
<div class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</div>

</body>
</html>