{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>우리가 배워온 모든 노하우, 老하우</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="{% static 'css/half-slider.css' %}" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <!-- jQuery -->
    <script src= "{% static 'js/jquery.js'%}"></script> <!--step 1-->

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
</head>

<body>
{%if mobileuser %}
    나는 모바일이다!!
{%else %}
    나는 모바일 아니다!!!
{%endif%}
<!--Google Analytics 넣기!!!!-->

{%if messages %}
    {%for message in messages%}
    <div class = "alert alert-{{message.tags}}"> <!-- 공백으로 클래스 구분 -->
    {{ message }}
    </div>
    {% endfor %}
{%endif%}
    <!-- Navigation -->
    <nav id = "psst" class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid basecolor">
            <div class="container">
                <u1 class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    {%if user.is_superuser %}
                    <li>
                        <a>슈퍼유저님ㅎㅇ</a>
                    </li>
                    {% else %}
                        {%if user.profile.is_mentor %}
                        <li>
                            <a>멘토님ㅎㅇ</a>
                        </li>
                        {% else %}
                        <li>
                            <a>멘티님ㅎㅇ</a>
                        </li>
                        {% endif %}
                    {% endif %}
                    <li>
                        <a href ="{% url "accounts:logout" %}">로그아웃</a>
                    </li>
                    <li>
                        <a href= "{% url "accounts:account_delete" %}">회원탈퇴</a> <!--나중에 mypage로 기능 옮기기!-->
                    </li>
                    <li>
                        <a href = "{% url "accounts:mypage"%}">MyPage</a>
                {% else %}
                    <li>
                        <a href = "{% url "accounts:login" %}"><span class="glyphicon glyphicon-user"> 로그인</span></a>
                    </li>
                    <li>
                        <a href = "{% url "accounts:signup" %}">회원가입</a>
                    </li>
                {% endif %}
                </u1>
            </div>
            <!-- Brand and toggle get grouped for better mobile display -->
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href= "{% url "blog:index"%}"><img id="logo" src="{% static 'pics/lohow.png' %}" width=50 height=25/></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href = "{% url "blog:mentor_list" %}">멘토목록</a>
                </li>
                <li>
                    <a href = "{% url "blog:notice" %}">게시판</a>
                </li>
                <li>
                    <a href = "{% url "blog:guide" %}">로하우 가이드</a>
                </li>
                <li>
                    <a href = "#">멘토 칼럼</a>
                </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Half Page Image Background Carousel Header -->
    {% block content %}
    {% endblock %}
    <!-- Page Content -->
    <div class="container">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 老하우 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->



    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
    <script type="text/JavaScript">
    {% if mobileuser %}
        $('#psst').attr('class','navbar navbar-default');
        $('#logo').attr('src',"{% static 'pics/lohow.png' %}");
    {% else %}
        $('#psst').attr('class','navbar navbar-inverse');
        $('#logo').attr('src',"{% static 'pics/lohoww.png' %}");
    {% endif %}
    </script><!--step3-->

</body>

</html>
